@import '../vars.scss';

.SignaCreator {
  background: #fcfcfc;

  &__content {
    position: relative;
    overflow: hidden;

    &.active,
    &:hover {
      .SignaCreator__row {
        text-shadow: 1px 1px 10px 1px $success;
      }
    }
  }

  &__img {
    display: block;
    max-width: 100%;
  }

  &__textContent {
    position: absolute;
    z-index: 5;
    cursor: move;
    display: flex;
    align-items: center;
    border-radius: $border-radius;
    font-size: 18px;
  }

  &__control {
    background: white;
    width: 40px;
    min-height: 100%;
    display: flex;
  }

  &__rotate {
    height: 100%;
  }

  &__row {
    display: flex;
    align-items: center;
    font-weight: 600;
    text-shadow: #fff 1px 1px 0, #fff -1px -1px 0, #fff -1px 1px 0, #fff 1px -1px 0;
    transition: all .2s ease;
    border-radius: $border-radius-base;

    &:before {
        content: '';
        display: block;
        width: 1.4em;
        height: 1.5em;
        border-top-left-radius: $border-radius-base;
        border-bottom-left-radius: $border-radius-base;
    }
  }

  &__text {
    text-overflow: ellipsis;
    white-space: pre-wrap;
    overflow: hidden;
    max-width: 100%;
    border: 1px solid transparent;
    position: relative;
    user-select: none;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }

  &__btn {
    display: block;
    width: 50px;
    height: 50px;
    background: url('./edit.svg') no-repeat center;
    background-color: white;
    background-size: 50%;
    transition: all .2s;
    border: 0;
  }
}

.imageLoad.noload~.SignaCreator__textContent {
  display: none;
}

.drag {
  .SignaCreator__text {
    box-shadow: 0px 0px 8px 0 #49c5b6;
  }
}

.singa-download .SignaCreator__row {
  box-shadow: none !important;
}

.SignaCreator {
  &:hover {
    .SignaCreator__textContent {
      &.active {
        .SignaCreator__row {
          box-shadow: 1px 1px 10px 1px $success;

          &:before {
            content: '';
            display: block;
            width: 1.4em;
            height: 1.5em;
            background: url('../../images/edit.svg') no-repeat center;
            background-size: .7em .7em;
            background-color: $success;
          }
        }
      }
    }
  }
}
