.SignaCreator {
  background: #fcfcfc;
  &__content {
    max-width: 400px;
    position: relative;
  }

  &__img {
    display: block;
    max-width: 100%;
  }

  &__textContent {
    position: absolute;
    z-index: 2;
    cursor: move;
  }

  &__text {
    font-size: 18px;
    color: black;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 186px;
    border: 1px solid transparent;
    position: relative;
    user-select: none;
    &:hover {
      box-shadow: 1px 1px 10px 1px #49c5b6
    }

    .parent {
      border: 1px solid green;
      width: 40px;
      height: 40px;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.SignaCreator--vika {
  .SignaCreator__textContent--v1 {
    top: 62%;
    left: 10%;

    .SignaCreator__text {
      transform: rotate(24deg);
      width: 250px;
    }
  }
  .SignaCreator__textContent--v2 {
    top: 68%;
    left: 6%;

    .SignaCreator__text {
      transform: rotate(24deg);
      width: 250px;
    }
  }
}

.SignaCreator--nasty {
  .SignaCreator__textContent--v1 {
    top: 56%;
    left: 36%;
    .SignaCreator__text {
      // transform: rotate(-11deg);
      width: 180px;
    }
  }
  .SignaCreator__textContent--v2 {
    top: 67%;
    left: 38%;
    .SignaCreator__text {
      // transform: rotate(-11deg);
      width: 180px;
    }
  }
}

.SignaCreator--ogo {
  .SignaCreator__textContent--v1 {
    top: 81%;
    left: 5%;
    .SignaCreator__text {
      transform: rotate(0deg);
      width: 100%;
      max-width: 220px;
    }
  }
  .SignaCreator__textContent--v2 {
    top: 88%;
    left: 5%;
    .SignaCreator__text {
      transform: rotate(0deg);
      width: 100%;
      max-width:220px;
    }
  }
}

.drag {
  .SignaCreator__text {
    box-shadow: 0px 0px 8px 0 #49c5b6;
  }
}
