@import '../vars.scss';

.SignaCreator {
  background: #fcfcfc;

  &__content {
    // max-width: 400px;
    position: relative;

    &.active,
    &:hover {
      .SignaCreator__row {
        text-shadow: 1px 1px 10px 1px $success;
      }
    }
  }

  &__img {
    display: block;
    max-width: 100%;
  }

  &__textContent {
    position: absolute;
    z-index: 5;
    cursor: move;
    display: flex;
    align-items: center;
    border-radius: $border-radius;
    font-size: 18px;

    &.active {
      .SignaCreator__content {
        box-shadow: 1px 1px 10px 1px $success;
      }
    }
  }

  &__control {
    background: white;
    width: 40px;
    min-height: 100%;
    display: flex;
  }

  &__rotate {
    height: 100%;
  }

  &__row {
    display: flex;
    align-items: center;
    font-weight: 600;
    text-shadow: #fff 1px 1px 0, #fff -1px -1px 0, #fff -1px 1px 0, #fff 1px -1px 0;
  }

  &__text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
    border: 1px solid transparent;
    position: relative;
    user-select: none;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }

  &__btn {
    display: block;
    width: 50px;
    height: 50px;
    background: url('./edit.svg') no-repeat center;
    background-color: white;
    background-size: 50%;
    transition: all .2s;
    border: 0;
  }
}

.imageLoad.noload~.SignaCreator__textContent {
  display: none;
}

.SignaCreator--vika {
  .SignaCreator__textContent--v1 {
    top: 62%;
    left: 10%;

    .SignaCreator__text {
      transform: rotate(24deg);
      width: 250px;
    }
  }
  .SignaCreator__textContent--v2 {
    top: 68%;
    left: 6%;

    .SignaCreator__text {
      transform: rotate(24deg);
      width: 250px;
    }
  }
}

.SignaCreator--nasty {
  .SignaCreator__textContent--v1 {
    top: 56%;
    left: 36%;
    .SignaCreator__text {
      // transform: rotate(-11deg);
      width: 180px;
    }
  }
  .SignaCreator__textContent--v2 {
    top: 67%;
    left: 38%;
    .SignaCreator__text {
      // transform: rotate(-11deg);
      width: 180px;
    }
  }
}

.SignaCreator--ogo {
  .SignaCreator__textContent--v1 {
    top: 81%;
    left: 5%;
    .SignaCreator__text {
      transform: rotate(0deg);
      width: 100%;
      max-width: 220px;
    }
  }
  .SignaCreator__textContent--v2 {
    top: 88%;
    left: 5%;
    .SignaCreator__text {
      transform: rotate(0deg);
      width: 100%;
      max-width:220px;
    }
  }
}

.drag {
  .SignaCreator__text {
    box-shadow: 0px 0px 8px 0 #49c5b6;
  }
}
