.signaList {
  padding: 15px;

  &__item {
    display: inline-block;
    max-width: 100px;
    margin: 10px;
    text-decoration: none;
  }

  &__img {
    display: block;
    max-width: 100%;
  }

  &__text {
    color: black;
    text-decoration: none;
  }

  &__list {
    margin-left: -10px;
  }
}
