.imageLoad {
  display: flex;
  align-items: center;
  justify-content: center;

  &.active {

    .imageLoad__inputGroup {
      display: block;
    }
  }

  &__image {
    width: 100%;
    text-align: center;
  }

  &__content {
    display: flex;
    position: relative;
    width: 100%;
    min-height: 50px;

    &:hover {
      .imageLoad__inputGroup {
        display: block;
      }
    }
  }



  &__inputGroup {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 4;
  }


  &__label {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    input {
      display: none;
    }
  }

  &__add {
    background: #49c5b6;
    color: white;
    font-weight: 300;
    font-size: 40px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    cursor: crosshair;

    &:hover {
      background: darken(#49c5b6, 80%)
    }
  }

  &__delete {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border: 0;
    color: white;
    font-size: 40px ;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    background: #dc3545;

    &:hover {
      background: darken(#dc3545, 80%)
    }

    &::before {
      content: '';
      width: 20px;
      height: 20px;
      background: url('../../images/close.svg') no-repeat center;
    }
  }

  &__img {
    display: none;

    &.active {
      display: block;
    }
  }

  img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    position: relative;
    z-index: 2;
  }

  span {
    position: absolute;
    left: 0;
    right: 0;
    display: inline-block;
    margin: 17px auto;
    z-index: 1;
    pointer-events: none;
  }
}
