@import '../vars.scss';

.imageLoad {
  display: flex;
  align-items: center;
  justify-content: center;

  &.load {
    .imageLoad__delete {
      display: flex;
    }

    .imageLoad__add {
      width: 50px;
      height: 50px;
      background: $success;
      font-size: 50px;
      font-weight: 400;
    }

    .imageLoad__inputGroup {
      display: none;
    }

    &:hover {
      .imageLoad__inputGroup {
        display: block;
      }
    }
  }

  &.noload {
    .imageLoad__content {
      min-height: 400px;
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    min-height: 50px;
    border: 1px solid #ccc;
    border-radius: 2px;
    transition: all .2s ease;

    &:hover {
      border-style: dashed;

      .imageLoad__inputGroup {
        display: block;
      }
    }
  }

  &__inputGroup {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 4;
  }


  &__label {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    input {
      display: none;
    }
  }

  &__add {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: crosshair;
  }

  &__delete {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border: 0;
    color: white;
    font-size: 40px ;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    background: #dc3545;

    &:hover {
      opacity: .8;
    }

    &::before {
      content: '';
      width: 20px;
      height: 20px;
      background: url('../../images/close.svg') no-repeat center;
    }
  }

  &__img {
    display: none;

    &.active {
      display: block;
    }
  }

  img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    position: relative;
    z-index: 2;
  }

  span {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    pointer-events: none;
  }
}
