.signa {
  background: #fcfcfc;
  margin-bottom: 15px;

  &__form {
    position: relative;
    padding: 10px;

    &.hidden {
      &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #ffffff69;
        z-index: 10;
      }
    }
  }

  &__label {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }

  &__input {
    width: 100%;
  }
}

.signa-app {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
