@import 'vars.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  color: $text-color;
  background: $body-bg;
  margin: 0;
  padding: 0;
  min-width: 320px;
}

.App {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100vh;
}

.form-control {
  display: block;
  height: 40px;
  padding: 0 15px;
  background-color: #fff;
  border: 1px solid #dbe0df;
  transition: all 0.3s ease-in-out;
}

.btn {
  position: relative;
  display: inline-block;
  height: 40px;
  padding: 0 20px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  line-height: 2.7;
}

.btn-success {
  background-color: #49c5b6;
  color: #fff;

  &:hover,
  &:focus {
    color: #fff;
    background-color: #42AB9E;
  }
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;

  &:hover,
  &:focus {
    color: #fff;
    background-color: darken(#dc3545, 0.5)
  }
}

hr {
  margin: 10px 0;
  border: 0;
  border-bottom: 1px solid #E6EAEA;
}

.signa hr {
  margin-left: -10px;
  margin-right: -10px;
}

.form-line {
  display: flex;
  align-items: center;

  select, input, button {
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }
  }
  label {
    span {
      margin-right: 15px;
    }
  }
}

.form-line-between {
  display: flex;
  justify-content: space-between;
}

.d-f {
  display: flex;
}

.j-b {
  justify-content: space-between
}

.header {
  height: 80px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: white;
}
