$body-bg: #fff;
$font-family: 'Open Sans', sans-serif, Arial;
$font-weight: 300;
$font-size: 1.6rem;
$text-color: #202121;
$border-radius: 4px;

// color
$default:         #00A383;
$default-hover:   #1F7A68;

$primary:         #0C5AA6;
$primary-hover:   #26527C;

$success:         #269926;
$success-hover:   #008500;

$warning:          #BF6830;
$warning-hover:    #A64100;

$danger:           #dc3545;
$danger-hover:      darken($danger, 0.5);


$tablet: 768px;
