<br>
<div class="panel panel-default panel-signa text-left">
    <div class="panel-heading">Signa Image</div>
    <div class="panel-body">
        <div id="signa-wrapper">
            <img id="signa" src="">
            <div id="text-layer1" class="text-layer text-layer1">Виктор</div>
            <div id="text-layer2" class="text-layer text-layer2">Громыко</div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <form>
                <h3>Введите свой текст</h3>
                <div class="form-group">
                    <label for="texter-text-layer1">Имя</label>
                    <input type="text" class="form-control text-writer" id="texter-text-layer1" placeholder="{{firstName}}">
                </div>
                <div class="form-group">
                    <label for="texter-text-layer2">Фамилия</label>
                    <input type="text" class="form-control text-writer" id="texter-text-layer2" placeholder="{{lastName}}">
                </div>
                <button id="downloader" type="button" class="btn btn-success">Download as jpg</button>
            </form>
          </div>
        </div>
    </div>
</div>
